// AMBER: light 500 - medium 700 - dark 900
// https://www.materialpalette.com/colors

$color-primary: #ffc107;
$color-primary-light: #ffe082;
$color-primary-dark: #ff6f00;

$color-secondary: #673ab7;
$color-secondary-light: #9575cd;
$color-secondary-dark: #512da8;

$color-grey-dark: #444444;
$color-grey-light: #f4f4f4;
