.section-home {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 3rem;  
  height: 55rem;
  margin-top: 10rem;
  
}

.section-about {
  height: 130rem;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 55rem 15rem 10rem 15rem;
}

.section-services {
  padding: 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  .services {
    padding-top: 10rem;

    &__card-container {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  
    &__box-container {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }


}