.box {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 50%;

  &--text {
    padding-right: 8rem;
  }

  &--img {

    & img {
      width: 90%;
      height: auto;
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 3rem;

    &-items {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;

      & i {
        color: $color-primary-dark;
        font-size: 1.8rem;
        padding: 0 2rem;
      }
    }

  }

}