.section-home {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 3rem;  
  height: 55rem;
  margin-top: 10rem;
  
}



.section-about {
  height: 120rem;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 55rem 15rem 10rem 15rem;
}